.about {
  background-color: #00b9ff;
  background-image: url(./about.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.about .me {
  position: absolute;
  top: -20px;
  right: -60px;
}

.about section {
  padding: 15px;
  max-width: 660px;
}

.about section .first-para {
  max-width: 500px;
}

@media only screen and (min-width: 900px) {
  .about section .first-para {
    max-width: 660px;
  }
}
