@import '../../styles//variables.css';

.code {
  background-color: goldenrod;
  background-image: url(code.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
