nav {
  display: flex;
  height: 40px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  left: calc(50% - 127.18px);
  position: absolute;
  width: 254px;
  background-color: darkseagreen;
  z-index: 3;
  padding: 0 10px;
}

a {
  text-transform: uppercase;
  padding: 20px 20px 15px 20px;
  padding: 20px 10px 15px;
  text-decoration: none;
  z-index: 4;
  background-color: skyblue;
  font-weight: 600;
}

a:hover,
.active {
  background-color: coral;
  text-decoration: underline;
}

a.logo {
  height: 55px;
  width: 55px;
  padding: 0;
  background-color: darkseagreen;
}

a.logo.active,
a.logo:hover {
  background-color: coral;
}
