.home {
  font-size: 18px;
  background: plum;
  background-image: url(home.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background: plum url(home.svg) no-repeat cover; */
}

.container {
  max-width: 640px;
  padding: 0 30px;
}

q {
  margin: 0;
}

.quote {
  font-size: 22px;
  margin-right: 10px;
} 

.quote.endQuote {
  margin-left: 10px;
}

q::before {
  content: none;
}
q::after {
  content: none;
}

.citation {
  font-size: 18px;
  margin-top: 10px;
}

@media screen and (min-width: 390px) {
  .home {
    font-size: 32px;
  }
}

@media screen and (min-width: 667px) {
  .home {
    font-size: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .citation {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .home {
    font-size: 40px;
  }

  .quote {
    font-size: 46px;
  } 

  .citation {
    font-size: 14px;
  }
}
