.home {
  font-size: 18px;
  background: plum;
  background-image: url(home.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 640px;
  padding: 0 30px;
  position: relative;
}

q {
  margin: 0;
}

q::before,
q::after {
  display: inline-flex;
  content: '';
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

q::before {
  background-image: url('./quote-start.svg');
}

q::after {
  background-image: url('./quote-end.svg');
}

.citation {
  font-size: 18px;
  margin-top: 10px;
}

@media screen and (min-width: 390px) {
  .home {
    font-size: 32px;
  }
}

@media screen and (min-width: 667px) {
  .home {
    font-size: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .citation {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .home {
    font-size: 40px;
  }

  q::before {
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
  }
  
  q::after {
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
  }

  .citation {
    font-size: 14px;
  }
}
