.page {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: aqua;
}
