@import './styles/variables.css';

body {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}