.scroller-button-container {
  display: flex;
  width: 334px;
  position: absolute;
  top: 0;
}

.next,
.prev {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  z-index: 2;
  border: none;
  background: none;
  color: white;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
}

.next:focus,
.prev:focus {
  outline: 2px yellow solid;
}

.next:hover,
.prev:hover {
  background-color: coral;
}

.next {
  right: 3px;
  background-image: url('./next.svg');
}

.prev {
  left: 2px;
  background-image: url('./previous.svg');
}

.scroller-container {
  padding: 0 30px;
  position: absolute;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

q {
  margin: 0;
  overflow-wrap: break-word;
}

q::before,
q::after {
  display: inline-flex;
  content: '';
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

q::before {
  background-image: url('./quote-start.svg');
}

q::after {
  background-image: url('./quote-end.svg');
}

.citation {
  font-size: 14px;
  margin-top: 10px;
  overflow-wrap: break-word;
}

@media screen and (min-width: 1200px) {
  .scroller-container {
    font-size: 28px;
  }
}


